{% include "header.html" %}

      <div>
        <h1 class="title-text" style="padding:0 150px">Nearby Attractions you should visit</h1>
      </div>
    </div>
</section>

    <section id='nearby'>
      <div class="container-nerrby">
        <div class="row">
          <div class="col-lg-6">
            <img src="{{url_for('static', filename='img/prem-madir.jpg')}}">
          </div>
          <div class="col-lg-6 place-desc">
            <h3>Prem Mandir</h3>
            <p>Prem Mandir is a Hindu temple in Vrindavan, Mathura, India. It is maintained by Jagadguru Kripalu Parishat, an international non-profit, educational, spiritual, charitable trust. The complex is on a 55-acre site on the outskirts of
              Vrindavan, and is dedicated to Lord Radha Krishna and Sita Ram, Radha Krishna on the first level and Sita Ram on the second level. The temple structure was established by the fifth Jagadguru, Kripalu Maharaj.</p>
          </div>
        </div>

        <div class="row mt-5">
          <div class="col-lg-6 place-desc">
            <h3>Potra Kund</h3>
            <p>Many places in the city are famously known amongst devotees, while there are many which despite being highly eminent are less known. One such place is the Potra kund, which is also known as the Pavitra kund as it purifies the soul.
              It holds immense significance in the hearts of Lord Krishna’s Devotees. It is believed that Devki and Vasudev used to wash their baby clothes in this Kund.</p>
          </div>
          <div class="col-lg-6">
            <img src="{{url_for('static', filename='img/potra-kund.jpg')}}">
          </div>
        </div>


        <div class="row mt-5">
          <div class="col-lg-6">
            <img src="{{url_for('static', filename='img/janambhumi.jpeg')}}">
          </div>
          <div class="col-lg-6 place-desc">
            <h3>Shri Krishna Janambhumi</h3>
            <p>This is one of the most important places because this is where Lord Shri Krishna manifested himself in the prison house of the cruel king Kansa and set free his father Vasudeva and his mother Devaki. His purpose was to destroy evil,
              protect the virtuous, and establish righteousness on a firm footing. Adjacent to the entrance of the prison cell, stands the temple where Astabhuja Maa Yogmaya manifested.</p>
          </div>
        </div>

        <div class="row mt-5">
          <div class="col-lg-6 place-desc">
            <h3>Kirti Mandir</h3>
            <p>The temple dedicated to Divine mother of Shri Radharani, Kirti Mayia Mandir is unique in it's own way located at Barsana, the only temple in the world having the glimpses of Shri Radharani in the lap of Kirti Mother. The temple is
              constructed under the guidance of Jagadguru Shri Kripalu Ji Maharaj.</p>
          </div>
          <div class="col-lg-6">
            <img src="{{url_for('static', filename='img/kirti.jpeg')}}">
          </div>
        </div>

        <div class="row mt-5">
          <div class="col-lg-6">
            <img src="{{url_for('static', filename='img/radharani.jpeg')}}">
          </div>
          <div class="col-lg-6 place-desc">
            <h3>Radharani Mandir</h3>
            <p>The ancient temple of Radha is medieval which is made of red and yellow stones. This magnificent and beautiful temple dedicated to Radha-Krishna was built in 1675 by Raja Vir Singh. Later stones were installed in this temple by the
              local people. Radha ji is also affectionately called Lali ji and Vrishabhanu Dulari.</p>
          </div>
        </div>


      </div>

    </section>



{% include 'footer.html' %}